<!DOCTYPE html>
<html>
<head>
  <title>LojamtgAlexandermonteiroComBr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= favicon_link_tag '/favicon.png' %>
</head>
<body>

<%= yield %>

</body>
</html>
